@model WebHoly.ViewModels.ProductViewModel


<div class="container py-5">
    <!-- For demo purpose -->
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-6">בחר אמצעי תשלום</h1>
        </div>
    </div> <!-- End -->
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <!-- Credit card form tabs -->
                   
                        <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                            <li class="nav-item"> <a data-toggle="pill" href="#credit-card" class="nav-link active "> <i class="fas fa-credit-card mr-2"></i> אשראי </a> </li>
                            <li class="nav-item"> <a data-toggle="pill" href="#paypal" class="nav-link "> <i class="fab fa-paypal mr-2"></i> Paypal </a> </li>
                        </ul>
                    </div> <!-- End -->
                    <!-- Credit card form content -->
                    <div class="tab-content">
                        <!-- credit card info-->
                        <div id="credit-card" class="tab-pane fade show active pt-3">
                            <form method="post" enctype="multipart/form-data" asp-action="Create" >
                                <div class="form-group">
                                    <h6>הסכום לתשלום הוא :<b>199</b> שקלים חדשים</h6>
                                </div>
                                <div class="form-group">
                                            <label asp-for="IdNumber" class="control-label"></label>
                                            <input asp-for="IdNumber" class="form-control" />
                                            <span asp-validation-for="IdNumber" class="text-danger"></span>
                                           
                                            <label asp-for="Last4Dig" class="control-label"></label>
                                            <input asp-for="Last4Dig" class="form-control" />
                                            <span asp-validation-for="Last4Dig" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label>
                                                <span class="hidden-xs">
                                                    <h6>תוקף</h6>
                                                </span>
                                            </label>
                                            <div class="input-group"> <input type="number" placeholder="MM" name="" class="form-control" required> <input type="number" placeholder="YY" name="" class="form-control" required> </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group mb-4">
                                            <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                                <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                            </label> <input type="text" required class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">     <button type="submit" class="btn btn-primary">אישור לתשלום</button></form>
                        </div>
                    </div> <!-- End -->
                    <!-- Paypal info -->
                    <div id="paypal" class="tab-pane fade pt-3">
                        <form method="post" enctype="multipart/form-data" asp-action="PayPalPayment">
                            <div class="pay px-5"> <button class="btn btn-primary btn-block"> מעבר לPaypal</button> </div>
                            <p class="text-muted"> לאחר הלחיצה תועבר לפייפל על מנת להשלים את הרכישה. </p>

                        </form>
                    </div> <!-- End -->
                </div>
            </div>
        </div>
    </div>


<style>
    body {
        background: #f5f5f5
    }

    .rounded {
        border-radius: 1rem
    }

    .nav-pills .nav-link {
        color: #555
    }

        .nav-pills .nav-link.active {
            color: white
        }

    input[type="radio"] {
        margin-right: 5px
    }

    .bold {
        font-weight: bold
    }

</style>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    </script>