
<!DOCTYPE html>
<html>
<head>
    <title>Jewish Calendar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css">
    <link href="~/css/StyleSheet.css" rel="stylesheet">
</head>
<body>
    <div id="calendar"></div>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
    <script src="~/js/JavaScript.js"></script>
</body>
</html>