@{
    ViewData["Title"] = "תקנון";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-12 mt-6">
            <div class="card p-3">
                <p>
                    מבוא
                    • אתר WebHoly ("האתר") המופעל ע"י חברת WebHoly  או "החברה") ומשמש גם בתור אתר מכירות לרכישת WebHoly  • האמור בתקנון זה בלשון זכר הוא לשם הנוחות בלבד והתקנון מתייחס לבני שני המינים באופן שווה.
                    • הרכישה באמצעות האתר כפופה לתנאים המפורטים בתקנון זה.
                    • עצם רכישת המוצר באתר תהווה הצהרה מצד הלקוח כי קרא את הוראות תקנון זה, הבין אותן והסכים להן. התקנון מהווה חוזה מחייב בינך לבין החברה.

                    הרכישה
                    • האתר מאפשר ללקוחות קנייה נוחה, קלה ובטוחה של המוצר באמצעות האינטרנט.
                    • ניתן לרכוש את המוצר באתר בכל עת עד לגמר המלאי.
                    • הרכישה באתר הינה באמצעות כרטיס אשראי בלבד והעסקה תתבצע לאחר אישורה ע"י חברת האשראי.
                    • מחיר המוצר באתר כולל את המע"מ
                    • החברה שומרת לעצמה את הזכות להפסיק את שיווק ומכירת המוצר בכל עת וכן לשלול זכות רכישה באתר מכירות על פי שיקול דעתה.

                    החזרות וביטולים
                    • ניתן לבטל את העסקה באמצעות פניה טלפונית או בדואר אלקטרוני לשירות הלקוחות של החברה. ביטול העסקה יהיה בתוקף אך ורק לאחר קבלת פקס או דואר אלקטרוני מהחברה המאשר את הבקשה לביטול העסקה. במקרה שהביטול אושר – יש להשיב את המוצר לחברה כאשר כל העלויות הכרוכות בהחזרת המוצר תחולנה על הלקוח. החזרת המוצר תיעשה כשהוא באריזתו המקורית בצירוף החשבונית המקורית ושעדיין לא חלפו 30 יום מתאריך רכישת המוצר.
                    • במקרה של ביטול העסקה, תחזיר החברה ללקוח את 149 שקלים חדשים.
                    • אם ביטול העסקה יתבצע לאחר שהלקוח כבר קיבל את המוצר לרשותו, הלקוח יישא בעלות משלוח המוצר חזרה לחברה, זאת בנוסף לדמי הביטול.
                    מדיניות ביטול העסקה המפורטת לעיל תחול רק ביחס למוצרים שנרכשו באתר. החברה לא תטפל בהחזרת מוצרים שנרכשו באמצעות מקור אחר.

                    אספקה והובלת המוצר
                    • החברה תדאג לאספקת המוצר ללקוח לכתובת שהוקלדה על ידו בעת ביצוע הרכישה באתר מכירות, תוך 1 ימי עסקים.
                    • החברה לא תהא אחראית לכל איחור ו/או עיכוב באספקה ו/או אי-אספקה, שנגרמה כתוצאה מכוח עליון ו/או מאירועים שאינם בשליטתה.
                    • משלוח המוצר יבוצע לכתובת שנמסרה ע"י הלקוח בעת הרכישה, ואין באפשרות הלקוח לאסוף את המוצר ממשרדי החברה/ או שהלקוח רשאי לאסוף את המוצר באופן עצמאי.
                    מחיר המוצר כולל את עלות המשלוח / אינו כולל את עלות המשלוח.

                    שירות לקוחות
                    • בכל שאלה או בירור לגבי המוצר, ניתן לפנות אל נציגי השירות של החברה 0505050501

                    אחריות ושירות
                    • האחריות למוצר מכסה פגמים מהותיים בגוף המוצר ו/או פעולתו אשר נגרמו על ידי החברה.
                    •האחריות למנוי  ניתנת לכל תקופת המנוי  מיום הרכישה.

                    • האחריות תקפה רק לגבי לקוח המחזיק בידיו הוכחת קנייה מקורית ורק אם הרכישה נעשתה באמצעות החנות האתר מכירות WebHoly. החברה שומרת לעצמה את הזכות לדרוש מהלקוח להוכיח כי הינו הרוכש המקורי של המוצר.
                    • הסעד הבלעדי לכל מוצר פגום המכוסה במסגרת האחריות מוגבל לתיקון או להחלפה של המוצר הפגום. החבות הכוללת של החברה ביחס לכל מוצר פגום לא תעלה בשום מקרה על מחיר הרכישה של המוצר הפגום.
                    • אחריות החברה לא תחול במקרים בהם הפגם במוצר נגרם כתוצאה מהפעלה שגויה : WebHoly
                    • החברה לא תהא אחראית לכל נזק ישיר או עקיף הנובע מהשימוש או השימוש השגוי במוצר לרבות כל נזק מקרי, מיוחד, עקיף או תוצאתי – ככל שהחוק מתיר זאת. על הלקוח חלה האחריות וכל סיכון וחובות עבור אובדן, נזק וחבלה לגופו ו/או לרכושו ו/או לרכושם ו/או לגופם של צדדים שלישיים, הנובעים מהשימוש ו/או אי השימוש במוצר, למעט במקרים בהם נקבע כי הנזק האמור נגרם עקב רשלנותה הבלעדית של החברה.
                    • להפעלת האחריות ולקבלת שירות למוצר יש ליצור קשר עם החברה בטלפון: 0505050501

                    אבטחת מידע ופרטיות
                    •חברת WebHoly, כמו גם חברות אחיות וגורמי משנה נוספים הפועלים מטעם חברת ובהתאם לאותם הסטנדרטים, רשאיות להשתמש במידע המופיע בטופס על מנת להביא לך את המידע והשירותים המבוקשים. מידע אישי זה לא ייחשף ולא ייעשה בו שימוש נוסף למטרות שיווקיות ללא רשות.
                    • החברה נוקטת באמצעי זהירות מקובלים על מנת לשמור, ככל האפשר, על סודיות המידע. במקרים שאינם בשליטת החברה ו/או הנובעים מכוח עליון, לא תהא החברה אחראית לכל נזק מכל סוג שהוא, ישר או עקיף, שייגרם ללקוח, אם מידע זה יאבד ו/או יעשה בו שימוש לא מורשה.
                    • החברה מתחייבת שלא לעשות שימוש במידע המסופק לה ע"י הקונים אלא על מנת לאפשר את הרכישה באתר מכירות ובהתאם לכל דין.
                    • כפתור "שלח" יש משום הסכמה לחברת WebHoly או למי מטעמה לעשות שימוש במידע אישי זה על מנת לספק לך מידע על המוצרים ומידע נוסף באמצעות אימייל או אחר, על שירותים ומשאבים הקשורים למוצרים של החברה:WebHoly. בנוסף, ניתן יהיה להשתמש במידע אישי זה למטרות סקר שוק. באם תחפצן להסיר בכל עת את פרטייך האישיים מרשימת התפוצה של החברה התקשרו לטלפון: 0505050501 באמצעות לחיצה על כפתור "שלח" אני מאשר בחתימתי את הטופס ואת תנאיו.

                    קניין רוחני
                    • כל זכויות הקניין הרוחני באתר מכירות זה הינן רכושה הבלעדי של החברה WebHoly.
                    • אין להעתיק, לשכפל, להפיץ, לפרסם או להשתמש בכל דרך אחרת במידע כלשהו מן האתר ו/או מאתר מכירות זה, אלא אם ניתנה הסכמה לכך מראש ובכתב מטעם החברה.

                    דין וסמכות שיפוט
                    • פרשנותו ואכיפתו של תקנון זה ו/או כל פעולה או סכסוך הנובע ממנו יעשו בהתאם לדין הישראלי בלבד ולבית המשפט המוסמך באחד מהמחוזות תל אביב-יפו, חיפה, ירושלים או ב"ש תהא מסורה סמכות השיפוט הבלעדית.
                </p>

                <span>
                    info@WebHoly.co.il
                    למידע נוסף יש לפנות לכתובת המייל
                </span>

            </div>
        </div>
    </div>
</div>

<style>

    .container {
        text-align: center
    }

    span {
        font-size: 16px;
    }
</style>
