@model WebHoly.Models.SoulBoard

@{
    ViewData["Title"] = "ערוך";
}

<h1 style="display: flex; justify-content: center;">ערוך   </h1>

<hr />
<div class="container" style=" max-width:60%; width: 100%; display: flex; justify-content: center; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;  ">
    <div class="col-12" style="width: 100%; ">
        <div class="text-center">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="HolySubscriptionId" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfDeathForeign" class="control-label"></label>
                    <input asp-for="DateOfDeathForeign" class="form-control" />
                    <span asp-validation-for="DateOfDeathForeign" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfDeathHebrew" class="control-label"></label>
                    <input asp-for="DateOfDeathHebrew" class="form-control" />
                    <span asp-validation-for="DateOfDeathHebrew" class="text-danger"></span>
                </div>

                <div class="form-group " style="margin: 20px 0 20px 0;">
                    <input type="submit" value="ערוך" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>

<div>
    <a asp-action="Index">חזרה לרשימה המלאה</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

